.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow for a 3D effect */
}

.loading span {
  display: inline-block;
  margin: 0 -0.05em;
  font-family: var(--fontFamily1);
}

.loading02 span {
  animation: loading02 2.2s infinite alternate;
}

.loading02 span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading02 span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading02 span:nth-child(4) {
  animation-delay: 0.6s;
}

.loading02 span:nth-child(5) {
  animation-delay: 0.8s;
}

/* .loading02 span:nth-child(6) {
  animation-delay: 1s;
}

.loading02 span:nth-child(7) {
  animation-delay: 1.2s;
} */

@keyframes loading02 {
  0% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1); /* Add scale transformation for a 3D effect */
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
    transform: scale(1); /* Adjust the scale factor for the desired 3D effect */
  }
}


.interactionPrompt{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}