.loader {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Added to align interaction prompt and loading bar */
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loading span {
  display: inline-block;
  margin: 0 -0.05em;
  font-family: var(--fontFamily1);
}

.loading02 span {
  animation: loading02 2.2s infinite alternate;
}

.loading02 span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading02 span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading02 span:nth-child(4) {
  animation-delay: 0.6s;
}

.loading02 span:nth-child(5) {
  animation-delay: 0.8s;
}

.loadingBar {
  width: 100px; /* Adjust width as needed */
  height: 4px; /* Height of the loading bar */
  background-color: #fff; /* Color of the loading bar */
  margin: 10px auto; /* Adjust margin as needed */
  animation: loadingBarAnimation 8400ms infinite linear; /* Added animation */
}

@keyframes loading02 {
  0% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
    transform: scale(1);
  }
}

@keyframes loadingBarAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* Fully loaded */
  }
}

.interactionPrompt {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 360px) {
  .loading {
    font-size: 4rem;
  }
}
