@media screen and (max-width: 1020px) {
  .frame__lineH {
    left: 28% !important;
    width: 45% !important;
  }
}
@media screen and (min-width: 991px) {
  .text-container span {
    padding-left: 0;
  }
  .hero_section .hero_text {
    padding: 0 40px;
  }
  .navbar-collapse{
    flex-grow: 0;
    flex-basis: auto;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    background: linear-gradient(to right, #3a5a40 10%, #334d40);
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .collapse {} */
  .collapse.show {
    border-radius: 20px;
    opacity: 100% !important;
    transition: all 0.3s ease-in-out;
  }
  .collapse:not(.show) {
    height: 0 !important;
    opacity: 0 !important;
  }
  .custom_nav {
    width: 314px;
    margin-bottom: 6rem !important;
  }
  .custom_nav li.nav-item {
    padding: 15px 0 0 5.4%;
  }
  .custom_nav li.nav-item a.nav-link {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
  }
  .text-container span {
    padding-left: 0;
  }
  .hero_section .hero_text {
    padding: 0 40px;
  }

  .work_categories .wc-section .wcs_img_wrapper {
    width: 250px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 580px) {
  .hero_section {
    height: 80svh;
  }
  .hero_section .hero_text {
    height: calc(80svh - 160px);
  }
  .text-container {
    /* width: 100vw; */
  }
  .hero_section .ht_middle .middle_main_text {
    /* font-size: 2rem; */
  }
  .text-container span {
    margin-left: 0;
    padding-left: 0;
  }
  .hero_section .common_text {
    font-size: 0.9rem;
    width: 90vw;
    color: rgba(128, 128, 128, 0.8);
  }
  .hero_section .ht_middle .middle_small_text {
    font-size: 1.1rem;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(1) {
    margin-bottom: 0px;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(3) {
    margin-top: 10px;
  }
  .text-container {
    height: 50px;
  }
  .hero_section .hero_text {
    padding: 0 15px;
  }
  .navbar {
    padding: 30px 20px 0;
  }
  .hero_section .ht_middle .middle_main_text {
    height: 50px;
  }
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-65px);
    }
    40% {
      transform: translateY(-120px);
    }
    60% {
      transform: translateY(-175px);
    }
    80% {
      transform: translateY(-235px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .hero_bg .bg_text {
    height: calc(100vh - 50px);
    top: 0;
  }
  .hero_bg .bg_text .bg-text-container {
    height: calc(100vh - 50px);
  }
  .hero_bg .bg_text .bg-text-container .item-text {
    width: 70vw;
    height: calc(100vh - 50px);
    -webkit-text-stroke: 1px #1d466e38;
    font-size: 4.5rem;
  }
  .hero_bg .bg_text .bg-text-container .item-text p {
    /* margin: 10px 0; */
  }

  @keyframes moveUpbg {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-90vh);
    }
    40% {
      transform: translateY(-180vh);
    }
    60% {
      transform: translateY(-270vh);
    }
    80% {
      transform: translateY(-360vh);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .work_categories .wc-section .wcs_img_wrapper {
    width: 250px;
    height: 350px;
  }
  .frame__lineW {
    top: 30% !important;
    height: 40% !important;
  }
  .frame__lineH {
    left: 19% !important;
    width: 62% !important;
  }
}
@media screen and (max-width: 480px) {
  .frame__lineW {
    top: 30% !important;
    height: 40% !important;
  }
}
@media screen and (max-width: 420px) {
  .hero_section {
    height: 80svh;
  }
  .hero_section .hero_text {
    height: calc(80svh - 160px);
  }
  .text-container {
    /* width: 100vw; */
  }
  .hero_section .ht_middle .middle_main_text {
    /* font-size: 2rem; */
  }
  .text-container span {
    margin-left: 0;
    padding-left: 0;
  }
  .hero_section .common_text {
    font-size: 0.9rem;
    width: 90vw;
    color: rgba(128, 128, 128, 0.8);
  }
  .hero_section .ht_middle .middle_small_text {
    font-size: 1.1rem;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(1) {
    margin-bottom: 0px;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(3) {
    margin-top: 10px;
  }
  .text-container {
    height: 50px;
  }
  .hero_section .hero_text {
    padding: 0 15px;
  }
  .navbar {
    padding: 30px 20px 0;
  }
  .hero_section .ht_middle .middle_main_text {
    height: 50px;
  }
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-65px);
    }
    40% {
      transform: translateY(-120px);
    }
    60% {
      transform: translateY(-175px);
    }
    80% {
      transform: translateY(-235px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .hero_bg .bg_text {
    height: calc(100vh - 50px);
    top: 0;
  }
  .hero_bg .bg_text .bg-text-container {
    height: calc(100vh - 50px);
  }
  .hero_bg .bg_text .bg-text-container .item-text {
    width: 70vw;
    height: calc(100vh - 50px);
    -webkit-text-stroke: 1px #1d466e38;
    font-size: 4.5rem;
  }
  .hero_bg .bg_text .bg-text-container .item-text p {
    /* margin: 10px 0; */
  }

  @keyframes moveUpbg {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-90vh);
    }
    40% {
      transform: translateY(-180vh);
    }
    60% {
      transform: translateY(-270vh);
    }
    80% {
      transform: translateY(-360vh);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .frame__lineW {
    top: 34% !important;
    height: 31% !important;
  }
}
@media screen and (max-width: 360px) {
  .hero_section {
    height: 80svh;
  }
  .hero_section .hero_text {
    height: calc(80svh - 160px);
  }
  .text-container {
    width: 90vw;
  }
  .hero_section .ht_middle .middle_main_text {
    /* font-size: 2rem; */
  }
  .text-container span {
    margin-left: 0;
    padding-left: 0;
  }
  .hero_section .common_text {
    font-size: 0.9rem;
    width: 90vw;
    color: rgba(128, 128, 128, 0.8);
  }
  .hero_section .ht_middle .middle_small_text {
    font-size: 1.1rem;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(1) {
    margin-bottom: 0px;
  }
  .hero_section .ht_middle .middle_small_text:nth-child(3) {
    margin-top: 10px;
  }
  .text-container {
    height: 50px;
  }
  .hero_section .hero_text {
    padding: 0 15px;
  }
  .navbar {
    padding: 30px 20px 0;
  }
  .hero_section .ht_middle .middle_main_text {
    height: 50px;
  }
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-65px);
    }
    40% {
      transform: translateY(-120px);
    }
    60% {
      transform: translateY(-175px);
    }
    80% {
      transform: translateY(-235px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .hero_bg .bg_text {
    height: calc(100vh - 50px);
    top: 0;
  }
  .hero_bg .bg_text .bg-text-container {
    height: calc(100vh - 50px);
  }
  .hero_bg .bg_text .bg-text-container .item-text {
    width: 70vw;
    height: calc(100vh - 50px);
    -webkit-text-stroke: 1px #1d466e38;
    font-size: 4.5rem;
  }
  .hero_bg .bg_text .bg-text-container .item-text p {
    /* margin: 10px 0; */
  }

  @keyframes moveUpbg {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-90vh);
    }
    40% {
      transform: translateY(-180vh);
    }
    60% {
      transform: translateY(-270vh);
    }
    80% {
      transform: translateY(-360vh);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .frame__lineW {
    top: 38% !important;
    left: 50%;
    height: 24% !important;
  }
}
